.hidden {
    display: none;
}
.images {
    float: left;
    margin-right: 5px;
    width: 500px;
}
img {
    max-width: 100%;
}
body {
    padding: 50px;
}
.content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
    min-width: 100%;
  }